<!DOCTYPE html>
<html ng-app="reservationApp">
<head>
    <title>Customer!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home.html">Smokin' Hot!</a>
        </div>
        <div class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="home.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                                   <span dropdown on-toggle="toggled(open)">
                      <a href id="simple-dropdown" dropdown-toggle>
                          Click me for a dropdown, yo!
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
                          <li ng-repeat="choice in items">
                              <a href>{{choice}}</a>
                          </li>
                      </ul>
                    </span>

                </li>
                <li class="modal"><a href="#" data-toggle="modal" data-target="#loginModal">Admin Login</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content font-feature">
            <div class="modal-header font-feature">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h1 class="text-center">Admin Login</h1>
            </div>
            <div class="modal-body">
                <form class="form col-md-12 center-block">
                    <div class="form-group">
                        <input type="email" class="form-control input-lg" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a class="btn btn-primary btn-lg btn-block" href="welcome_admin.html" > Sign In</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <label><input  type="checkbox" value="" id="remember_me"> Keep me Signed  </label>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link btn-block " id="forgot_password">Forgot Password?</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.angularjs.org/1.4.3/angular.js"></script>

<script src="../src/js/lib/jquery.min.js"></script>
<script src="https://code.angularjs.org/1.4.3/angular-messages.js"></script>
<script src="https://code.angularjs.org/1.4.3/angular-route.min.js"></script>
<script src="../src/js/lib/ui-bootstrap-tpls-0.13.3.min.js"></script>
<script src="../src/js/app/app.js"></script>
<script src="../src/js/controllers/createReservationCtrl.js"></script>
<script src="../src/js/services/service1.js"></script>
<script src="../src/js/lib/datetime-picker.min.js"></script>


</body>
</html>